# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (kullanılmıyor ama ihtiyata karşı)
Pods/
Carthage/Build/
